<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Project" ToolsVersion="15.0">
 <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0060" Action="None" />
    <Rule Id="IDE0005" Action="Info" />
    <Rule Id="IDE0051" Action="None" />
    <Rule Id="IDE0004" Action="Info" />
    <Rule Id="RCS1129" Action="None" />
    <Rule Id="RCS1074" Action="Info" />
  </Rules>  
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1090" Action="None" />
    <Rule Id="RCS1079" Action="None" />
    <Rule Id="RCS1171" Action="None" />
    <Rule Id="RCS1036" Action="None" />
    <Rule Id="RCS1037" Action="None" />
    <Rule Id="RCS1124" Action="None" />
    <Rule Id="RCS1096" Action="None" />
  </Rules>
</RuleSet>